.wrapper {
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  max-width: 80rem;
  padding: 1.5rem;
  width: 100%;
}

@media screen and (max-width: 833px) {
  .wrapper {
    padding: 1.5rem 1rem;
  }
}
