.main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2rem;
  padding: 6rem 0.5rem;
}

.form p {
  color: var(--text-secondary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 1rem;
}

.form p a {
  color: var(--text-primary);
  font-weight: 500;
  text-decoration: none;
}

.hero {}
.hero .callout {}
.hero .callout .pill {}
.hero .text {}
