@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2rem;
  padding: 6rem 0.5rem;
}

.main h1 {
  color: var(--text-primary);
  /* font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.125rem; */
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 4.5rem;
  margin: 1.5rem 0 1.25rem;
}

.main h1 span {
  color: var(--brand-secondary);
}

.heroText p {
  color: var(--text-secondary);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 1.25rem 0 3rem;
}

@media screen and (max-width: 1080px) {
  .main h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    letter-spacing: -1px;
  }

  .heroText p {
    font-size: 1.25rem;
  }
}

.form p a {
  color: var(--text-primary);
  font-weight: 500;
  text-decoration: none;
}

.form p {
  color: var(--text-secondary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 1rem;
}
