.main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2rem;
  padding: 8rem 0 8rem 2rem;
}

.graphic {
  overflow: hidden;
  position: relative;
  transform: translateY(-10%);
}

.main h1 {
  color: var(--text-primary);
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 4.5rem;
  margin: 1.5rem 0 1.25rem;
}

.main h1 span {
  color: var(--brand-secondary);
}

.heroText p {
  color: var(--text-secondary);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 1.25rem 0 3rem;
}

@media screen and (max-width: 1080px) {
  .main {
    background-size: 492px;
    background-position-y: center;
  }

  .main h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    letter-spacing: -1px;
  }

  .heroText p {
    font-size: 1.25rem;
  }

  .form {
    width: 113%;
  }
}

@media screen and (max-width: 834px) {
  .main {
    background-size: 624px;
    background-position-x: 250%;
    background-position-y: 2rem;
    grid-template-columns: 46% auto;
  }

  .main h1 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.125rem;
  }

  .heroText p {
    font-size: 1.125rem;
  }

  .form {
    width: 144%;
  }

  .graphic {
    transform: translate(7%, -10%);
  }

  .graphic img {
    height: 88%;
    transform: translateX(-2%);
  }
}

@media screen and (max-width: 833px) {
  .main {
    background-size: 100%;
    background-position-y: 85%;
    gap: 3rem;
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 2.5rem 1rem;
  }

  .main h1 {
    display: grid;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: -1px;
  }

  .heroText p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0.75rem 0 2.5rem;
  }

  .form {
    width: 100%;
  }

  .graphic {
    align-items: start;
    display: grid;
    justify-content: center;
    transform: none;
  }

  .graphic img {
    height: auto;
    width: 100%;
  }
}

.form p a {
  color: var(--text-primary);
  font-weight: 500;
  text-decoration: none;
}

.form p {
  color: var(--text-secondary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 1rem;
}

.form p.thankYou {
  color: var(--brand-secondary);
}
