.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.leading {
  align-items: center;
  display: grid;
  gap: 2.5rem;
  grid-auto-flow: column;
}

.trailing {
  align-items: center;
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: column;
}

.mobileNav {
  align-items: center;
  background-color: transparent;
  border: none;
  display: grid;
  height: 2.5rem;
  justify-content: center;
  margin-right: -0.5rem;
  width: 2.5rem;
}

@media screen and (max-width: 833px) {
  .leading {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .trailing {
    display: none;
  }

  .navBackdrop {
    animation-name: navBackdrop;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    background-color: var(--bg-overlay);
    height: 100vh;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100vw;
  }
}

@media screen and (min-width: 834px) {
  .mobileNav {
    display: none;
  }
}

@keyframes navBackdrop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
