@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

:root {
  --bg-black: #000000;
  --bg-color: #111827;
  --text-placeholder: #6b7280;
  --bg-overlay: rgba(107, 114, 128, 0.75);
  --text-primary: #ffffff;
  --text-secondary: #d1d5db;
  --text-mobile: #374151;
  --brand-primary: #6366f1;
  --brand-secondary: #818cf8;
  --brand-contrast: #4b5563;
  --brand-mobile: #4f46e5;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
